@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>EonaCat UFW Manager</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="UFW" asp-action="Index">Click here to go to the EonaCat UFW manager</a>
</div>
